{% extends "base.html" %}

{% block content %}
    <h2>About</h2>
    <hr>
    <div id="map" style="width:100%;height:400px;"></div>

    <script>
        function initMap() {
            var uluru = {lat: 53.118256, lng: 23.149679};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaG1lvjfYcj55K3CsKUJxm0B49YGRWCjA&callback=initMap"></script>
{% endblock %}