{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>Contact</h2>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <p>Skontaktuj się z nami</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Białystok, PL</p>
            <p><span class="glyphicon glyphicon-phone"></span> Tel: +48 100100100</p>
            <p><span class="glyphicon glyphicon-envelope"></span> Email: mail@mail.com</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Your e-mail" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
            <br>
            <div class="row">
                <div class="col-md-12 form-group">
                    <button class="btn pull-right btn-success" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}