{% extends "base.html" %}

{% block content %}
    <h2>Gracze</h2>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Gracz</th>
                <th>Wybierz</th>
            </tr>
        </thead>
        <tbody>
            {% for p in players %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p }}</td>
                    <td><a href="#">Choose</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}