{% extends "base.html" %}

{% block content %}
    <h2>Rozgrywki</h2>
    <hr>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Wybierz</th>
            </tr>
        </thead>
        <tbody>
            {% for s in series %}
                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s }}</td>
                    <td><a href="{% url 'games' s.id %}">Choose</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}