{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>Rejestracja</h2>
    <hr>
    <form class="col-md-12" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'form-template.html' %}
        {#        <div class="form-group">#}
        {#            <label for="username">Username:</label>#}
        {#            <input type="password" class="form-control" id="username" placeholder="Username" required>#}
        {#        </div>#}
        {#        <div class="form-group">#}
        {#            <label for="email">Email address:</label>#}
        {#            <input type="email" class="form-control" id="email" placeholder="Mail" required>#}
        {#        </div>#}
        {#        <div class="form-group">#}
        {#            <label for="password">Password:</label>#}
        {#            <input type="password" class="form-control" id="password" placeholder="Password" required>#}
        {#        </div>#}
        <h1>CAPTCHA</h1>
        <div class="checkbox">
            <label><input type="checkbox" required> Czy akceptujesz warunki?</label>
        </div>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
{% endblock %}