{% extends "base.html" %}

{% block content %}
    <h2>Statistics</h2>
    <hr>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Player</th>
                <th>Kills</th>
            </tr>
        </thead>
        <tbody>
            {% for p in players %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.nickname }}</td>
                    <td><a href="{% url 'game:stat2' p.id %}">Choose</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}