{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    <script src="{% static "js/jquery-3.2.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<div class="container">
    <div style="max-width: 500px; margin: 25% auto">
        <div class="well">
            <h1>Login</h1>
            <form method="post" action="{% url 'manage:home' %}">{% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" placeholder="Password" required>
                </div>
                <div class="g-recaptcha form-group" data-sitekey="6LdKaSQUAAAAALl2QcocWH5GBCxoU_QcgoZUs88q"></div>
                <button type="submit" class="btn btn-success">Log in</button>
            </form>
            {#            <form method="post">#}
            {#                {% csrf_token %}#}
            {#                <input type="hidden" name="next" value="{{ next }}"/>#}
            {#                {% for field in form %}#}
            {#                    <p>#}
            {#                        {{ field.label_tag }}<br>#}
            {#                        {{ field }}<br>#}
            {#                    </p>#}
            {#                {% endfor %}#}
            {#                <button type="submit">Log in</button>#}
            {#            </form>#}
        </div>
    </div>
</div>
</body>
</html>