{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    <script src="{% static "js/jquery-3.2.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-brand">
            <p><a style="color: orange" href="{% url 'manage:home' %}">Manage panel</a></p>
        </div>
        <div class="nav navbar-text" style="color: white">Logged as {{ user }}</div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'manage:players' %}">Edit players</a></li>
            <li><a href="{% url 'manage:teams' %}">Edit teams</a></li>
            <li><a href="{% url 'manage:matches' %}">Edit matches</a></li>
            <li><a href="{% url 'manage:series' %}">Edit series</a></li>
            <li><a class="btn" id="logOut" href="{% url 'manage:logout' %}">Log Out</a></li>
        </ul>
    </div>
</nav>
<div class="container jumbotron">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>