body {
    background-color: #122b40;
    color: whitesmoke;
}

h1 {
    color: red;
}

#container {
    margin: auto;
    width: 1000px;
}

/*.modal-content{*/
    /*background-color: #1b6d85;*/
/*}*/