h1{
    color: red;
}
#container{
    margin: auto;
    width: 1000px;
}
/*footer{*/
      /*background-color: #555;*/
      /*color: white;*/
      /*padding: 15px;*/
/*}*/
/*body{*/
    /*background-color: darkgray;*/
    /*color: white;*/
/*}*/